@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Spectral+SC&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    font-family: 'Spectral SC', serif;
    color: #39342E;
    margin: 0;
}

/*header*/

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    min-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    min-height: 80px;
}

.menu__list{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 0 50px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

/*first_screen*/

.top {
    background-image: url(../images/main-photo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.top__inner {
    color: #F6EAD1;
    min-height: 500px;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    
}

h1 {
    font-size: 56px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    font-size: 42px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
}

a:hover {
    color: #ffaf92;
}

.blockquote {
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}