@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Spectral+SC&display=swap');

html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    font-family: 'Spectral SC', serif;
    color: #39342E;
    margin: 0 auto;
}

/*header*/

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    min-height: 80px;
}

.button.menu__btn {
    /*display: none;*/
    width: 40px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button.menu__btn span {
    background-color: #39342E;
    width: 40px;
    height: 2px;
}

.menu__list{
    display: flex;
    font-size: 16px;
    margin: 0 auto;
    align-items: center;
    margin-left: 75px;
    margin-right: 75px;
    gap: 0 30px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

/*first_screen*/

.top {
    background-image: url(../images/main-photo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.top__inner {
    color: #F6EAD1;
    min-height: 500px;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;  
}

h1 {
    font-size: 56px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    font-size: 42px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
}

a:hover {
    color: #ffaf92;
}

.blockquote {
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
}

@media (max-width: 1000px) {

    .container {
        margin-left: 0;
        margin-right: 0;
        max-width: 980px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__inner {
        min-height: auto;
        padding: 5px 0;
        margin-left: 0px;
        margin-right: 0px
    }

    .logo {
        display: inline-block;
      }

    .logo img {
        width: 50%;
        height: 50%;
        transform: translateX(100%);
      }
    
      .user-actions {
        gap: 0px;
    }

      .user-actions__link img {
        width: 50%;
        height: 50%;
      }

    .header__inner {
    display: flex;
    font-size: 12px;
    margin: 0 auto;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 0 20px;
    }

    .menu__list{
        display: flex;
        margin: 0 auto;
        align-items: center;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
        gap: 0 10px;
    }

    .top__inner {
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    h2{
        font-size: 28px;
        line-height: 1;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    p.top__link a.top__link {
        font-size: 14px;
      }

      .top {
        color: #F6EAD1;
        max-height: 300px;
        min-width: 620px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .blockquote {
        text-align: center;
        margin: 0 auto;
        max-width: 480px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-style: italic;
        font-size: 16px;
        font-weight: normal;
    }
}

@media (max-width: 860px) {
    .menu__list {
        display: none;
    }

    .button.menu__btn {
        width: 40px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .button.menu__btn span {
        background-color: #39342E;
        width: 40px;
        height: 2px;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 360px) {
    
}

